

/*Reset*/
*{
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
}

/* grilla */
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        "header   header   header    header"
        "main     main     section   section"
        "main      main    section   section"
        "footer    footer    footer    footer"
    ;
}
header{
    grid-area: header;
}
header {
    background-color: #ffffff; /* Fondo blanco */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    height: 80px; /* Altura de 80px */
    position: fixed; /* Posición fija en la parte superior */
    top: 0;
    width: 100%;
    z-index: 100;
}

.container-fluid {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenido */
    padding: 0 20px; /* Agregar un poco de relleno */
}

.navbar {
    background-color: transparent; /* Fondo transparente para la barra de navegación */
}

.navbar-brand {
    float: left; /* Logotipo a la izquierda */
    margin-top: 10px;
}

.navbar-brand img {
    max-height: 50px; /* Altura máxima del logotipo */
}

.navbar-nav {
    float: right; /* Menú a la derecha */
    margin-top: 10px;
}

.navbar-nav li {
    display: inline-block; /* Elementos del menú en línea */
    margin-right: 20px;
}

.navbar-nav li a {
    color: #333333; /* Color de los enlaces del menú */
    font-size: 16px; /* Tamaño de fuente de los enlaces */
    font-weight: normal; /* Peso normal de los enlaces */
    text-decoration: none; /* Sin subrayado en los enlaces */
    transition: all 0.3s ease-in-out; /* Efecto de transición suave */
}

.navbar-nav li a:hover {
    color: #000000; /* Color de los enlaces al pasar el mouse */
}

.navbar-nav li.active a {
    color: #000000; /* Color del enlace activo */
}




.cont-logo{
    width: 150px;
}

.cont-logo img{
    width: 100%;
}
        /*BS*/
        .navbar-toggler:focus{
            box-shadow: none;
        }
        .btn-k{
            background-color: #743a11;
            color: #ffffff;
        }
        .btn-k:hover{
            border: 1px #a52a2a solid;
        }

.main {
    margin-top: 500px; /* Reemplaza 80px por la altura de tu encabezado */
}


/* Main index*/
body {
    background-color: #f8d3cf; /* Fondo de color para todo el cuerpo */
    margin: 0; /* Elimina los márgenes predeterminados del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
}

.contenido-principal, .newin {
    padding: 20px; /* Ajusta el relleno según sea necesario */
}


.contenido-principal {
    margin: 50px 20px 100px 40px;
    grid-area: main;
    padding: 20px;
    background-color: #f8d3cf;
    border: 1px solid #ddd;
    text-align: center;
}

.title{
    font-weight: 900;
    color: #e691f9;
    text-align: center;
}
.sub-title{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}
.card-flex{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    flex-flow: wrap;
}
.card{
    width: 250px;
    height: 18rem;
    overflow: hidden;
    margin-bottom: 2rem;
}
.card img{
    width: 100%;
}
.card p{
    line-height: 36px;
}
.border{
    border: 1px solid #000000;
}

/*MAIN GALERIA*/

/* Estilos para el main */
.main-container {
    padding-top: 50px; /* Espacio superior */
}

.title {
    font-size: 2.5rem; /* Tamaño de fuente del título */
}

.card-text {
    font-size: 1.2rem; /* Tamaño de fuente del texto debajo de las imágenes */
}

.text-center {
    text-align: center; /* Centrar texto */
}

/* Estilos para los iframes de YouTube */
.embed-responsive-16by9 {
    position: relative;
    padding-bottom: 56.25%; /* Proporción de aspecto 16:9 */
    padding-top: 25px;
    height: 0;
}

.embed-responsive-16by9 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*FAQ*/
/*HEADER FAQ*/
/* Estilos para el encabezado de la página de preguntas frecuentes */
/* Estilos para el encabezado de la página de preguntas frecuentes */
.encabezadofaq {
    background-color: #f8d3cf; /* Color de fondo del encabezado */
    padding: 20px 0; /* Espaciado interno del encabezado */
}

.containerfaq {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
}

.navbar {
    padding: 0; /* Eliminar el relleno predeterminado de la barra de navegación */
}

.navbar-nav {
    margin: 0; /* Eliminar el margen predeterminado de la lista de navegación */
    display: flex; /* Usar flexbox para alinear los elementos en la misma línea */
    align-items: center; /* Alinear verticalmente los elementos en el centro */
}

.navbar-nav .nav-link {
    color: #000; /* Color del texto de los enlaces de navegación (negro) */
    padding: 10px 15px; /* Espaciado interno de los enlaces de navegación */
    font-size: 20px; /* Tamaño del texto de los enlaces */
}


.navbar-nav .nav-link:hover {
    color: #fff; /* Cambiar el color del texto al pasar el ratón sobre los enlaces de navegación */
    background-color: rgba(255, 255, 255, 0.2); /* Cambiar el color de fondo al pasar el ratón sobre los enlaces de navegación */
    border-radius: 5px; /* Agregar bordes redondeados a los enlaces de navegación */
}

.navbar-logo {
    width: 100px; /* Ancho de la imagen del logo */
    height: auto; /* Altura automática para mantener la proporción */
}

.cont-img {
    text-align: right; /* Alinear la imagen del logo a la derecha */
}


/*MAIN FAQ*/
/* Estilos para el contenido de las preguntas frecuentes */
.faqmain {
    padding: 50px 0; /* Espacio alrededor del contenido */
}

.faqmain h1 {
    font-size: 2.5rem; /* Tamaño de fuente del título principal */
    text-align: center; /* Centrar el título principal */
}

.faqmain h2 {
    font-size: 1.8rem; /* Tamaño de fuente del subtítulo */
    text-align: center; /* Centrar el subtítulo */
    margin-bottom: 30px; /* Espacio inferior */
}

.faqmain .faq-item {
    margin-bottom: 30px; /* Espacio inferior entre preguntas y respuestas */
}

.faqmain .question {
    font-size: 1.4rem; /* Tamaño de fuente del texto de las preguntas */
    font-weight: bold; /* Preguntas en negrita */
    margin-bottom: 10px; /* Espacio inferior entre preguntas y respuestas */
}

/*Sobre nosotros*/
/* Estilos para el encabezado de Sobre Nosotros */
.encabezadosn {
    background-color: #f8d3cf; /* Color de fondo del encabezado */
    padding: 20px 0; /* Espaciado interno del encabezado */
}

.navbar-brand {
    margin-right: 30px; /* Espaciado derecho para separar el logo del menú */
}

.navbar-logo {
    width: 100px; /* Ancho de la imagen del logo */
    height: auto; /* Altura automática para mantener la proporción */
}

/*CONTACTO*/
/* Estilos para el encabezado de la fila */
.row-encabezado {
    background-color: #f8d3cf; /* Color de fondo del encabezado */
    padding: 10px 0; /* Espaciado interno del encabezado */
}

.background-navbar {
    background-color: transparent !important; /* Fondo transparente para la barra de navegación */
    padding: 0; /* Eliminar el relleno predeterminado de la barra de navegación */
}

.cont-img {
    text-align: center; /* Alinear la imagen del logo al centro */
    margin-top: 10px; /* Espaciado superior */
}

.navbar-nav .nav-link {
    color: #000; /* Color del texto de los enlaces de navegación (negro) */
    padding: 10px 15px; /* Espaciado interno de los enlaces de navegación */
}

.navbar-nav .nav-link:hover {
    color: #fff; /* Cambiar el color del texto al pasar el ratón sobre los enlaces de navegación */
    background-color: rgba(255, 255, 255, 0.2); /* Cambiar el color de fondo al pasar el ratón sobre los enlaces de navegación */
    border-radius: 5px; /* Agregar bordes redondeados a los enlaces de navegación */
}

.navbar-toggler-icon {
    background-color: #000; /* Color del ícono del botón del menú */
}



/*Galeria*/
.title-galeria{
    letter-spacing: 7px;
}

.navbar-logo {
    max-height: 100px; 
    width: auto; 
}


/* Estilos para el contenido debajo del navbar */
.texto-debajo-navbar {
    text-align: center; 
    margin-top: 20px; 
}

/* Estilos para cada div de preguntas y respuestas */
.texto-debajo-navbar div {
    margin-bottom: 20px; 
}

/* Estilos para las preguntas */
.texto-debajo-navbar p {
    font-size: 18px; 
    font-weight: bold; 
}

/* Estilos para las respuestas */
.texto-debajo-navbar p:not(:first-child) {
    font-size: 16px; 
    font-weight: normal; 
}


/*new in*/
.newin{
    grid-area: section;
}
.newin-cont{
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
}
.newin-cont-img {
    width: 100%; /* Ajusta el ancho del contenedor al 100% */
    height: 290px; /* Altura fija del contenedor */
    overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor */
}

.newin-cont-img img {
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: 100%; /* La imagen ocupa el 100% del alto del contenedor */
    object-fit: contain; /* La imagen se ajusta para caber dentro del contenedor sin distorsión */
}


.newin-txt{
    width: 50%;
}
/*footer*/
footer{
    grid-area: footer;
    background-color:  #fbefe5;
}

footer img{
    /*Tamaño del logo en footer*/
    width: 100px;
}

footer {
    background-color: #f5f5dc;
    color: #000;
    padding: 20px 40px;
    height: 150px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
footer a {
    text-decoration: none;
    color: #000;
    margin-right: 15px; 
}
footer a:hover {
    text-decoration: underline;
}
footer img {
    width: 80px;
    height: auto;
    margin-right: 10px; 
}
footer ul {
    margin: 0; 
    padding: 0; 
    list-style: none; 
}
footer li {
    display: inline-block; 
    margin-right: 15px; 
}

footer .inner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}





/*CONTACTO*/
.titulo-contacto {
    text-align: center;
    margin-top: 50px; 
}

#contacto-main {
    font-size: 18px;
}

#contacto-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#contacto-section ul {
    list-style: none;
    padding: 0;
}

#contacto-section li {
    margin-bottom: 10px;
}

#contacto-section strong {
    font-weight: bold;
}

#contacto-section a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #cf81b3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#contacto-section a:hover {
    background-color: #f7f6f2;
}

/*SOBRE NOSOTROS*/
.sobre-nosotros {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    text-align: justify; 
}

.titulosn {
    color: #2b0433; 
    font-size: 1.5em;
    margin-bottom: 15px; 
}

.ubicacion-mapa {
    font-size: 1.5em; 
    font-weight: bold; 
    color: #2b0433; 
    margin-top: 20px; 
}

/* Estilos para el mapa */
.mapa {
    margin-top: 20px; 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Primera fila auto, segunda fila flexible (1fr), tercera fila auto */
    min-height: 100vh; /* Altura mínima del contenedor igual a la altura de la ventana */
}

.contenido-principal {
    grid-row: 2; /* El contenido principal ocupa la segunda fila */
    padding: 20px; /* Agrega un relleno al contenido principal para separarlo del borde del contenedor */
}

footer {
    grid-row: 3; /* El footer ocupa la tercera fila */
    padding: 20px; /* Agrega un relleno al footer para separarlo del borde del contenedor */
}



/* Estilos para pantallas de hasta 480px (móviles) */
@media (max-width: 480px) {
    .grid-container {
        background-color: #f7f6f2;
        grid-template-columns: 1fr;
        grid-template-rows: auto; /* Ajusta las filas según el contenido */
        grid-template-areas: "header" "section" "main" "footer";
    }

    /* Ajustes de espacio entre elementos */
    .navbar-nav {
        margin: 0; /* Elimina el margen en la lista del menú */
    }

    .card-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 10px; /* Espacio entre las tarjetas en la sección principal */
    }

    .card {
        width: calc(50% - 5px); /* Ajusta el ancho de las tarjetas */
        margin-bottom: 10px; /* Espacio entre las tarjetas */
    }

    .newin-cont {
        margin-bottom: 10px; /* Espacio entre los artículos de la sección 'Más vendidos' */
    }
}

