// _header.scss

header {
    grid-area: header;
    background-color: $background-color;

    .background-navbar {
        background-color: $background-color;
    }

    .encabezado {
        @include flex-center;
        justify-content: space-between;
        padding: 10px 20px; // Agregamos espaciado interno al encabezado
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Agregamos una sombra suave
    }

    .contenedor-header {
        background-image: $background-image;
        height: 250px;
        background-size: cover; // Ajustamos el tamaño del fondo para cubrir completamente el contenedor
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        font-size: 24px;
    }

    nav {
        ul {
            display: flex;
            gap: 1em;
            list-style: none;

            li {
                a {
                    text-decoration: none;
                    color: $primary-color;
                    padding: 10px; // Agregamos espaciado interno al enlace
                    transition: color 0.3s ease; // Agregamos una transición suave al color del texto al pasar el mouse sobre el enlace

                    &:hover {
                        color: darken($primary-color, 10%); // Hacemos que el color del texto se oscurezca ligeramente al pasar el mouse
                    }
                }
            }
        }
    }

    .cont-logo {
        width: 150px;
        display: flex;
        align-items: center;

        img {
            width: 100%;
            height: auto; // Permitimos que la altura se ajuste automáticamente para mantener la proporción
        }
    }
}
