// main
.contenido-principal {
    margin: 30px 0 50px;
    grid-area: main;

    .title {
        font-weight: 400;
        color: $primary-color;
        text-align: center;
    }

    .sub-title {
        font-weight: 700;
        font-size: 16px;
        text-align: center;
    }

    .card-flex {
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
        flex-flow: wrap;

        .card {
            width: 250px;
            height: 18rem;
            overflow: hidden;
            margin-bottom: 2rem;

            img {
                width: 100%;
            }

            p {
                line-height: 36px;
            }

            &.border {
                border: 1px solid #000000;
            }
        }
    }
}

.title-galeria {
    letter-spacing: 7px;
}

.navbar-logo {
    max-height: 100px;
    width: auto;
}

.texto-debajo-navbar {
    text-align: center;
    margin-top: 20px;

    div {
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        font-weight: bold;

        &:not(:first-child) {
            font-size: 16px;
            font-weight: normal;
        }
    }
}

.newin {
    grid-area: section;

    .newin-cont {
        display: flex;
        padding-top: 30px;
        flex-direction: column;
        align-items: center;

        .newin-cont-img {
            width: 50%;
            height: 290px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        .newin-txt {
            width: 50%;
        }
    }
}

.titulo-contacto {
    text-align: center;
    margin-top: 50px;
}

#contacto-main {
    font-size: 18px;

    h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 10px;
        }

        strong {
            font-weight: bold;
        }

        a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #cf81b3;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #f7f6f2;
            }
        }
    }
}

.sobre-nosotros {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;

    .titulosn {
        color: #FF4500;
        font-size: 2em;
        margin-bottom: 15px;
    }

    .ubicacion-mapa {
        font-size: 1.5em;
        font-weight: bold;
        color: #ff5733;
        margin-top: 20px;
    }

    .mapa {
        margin-top: 20px;
    }
}
