//(Esto por lo general se utiliza para proyectos grandes)
//colores

//Tipograficas

//Tamaños de tipografias

//Mapas

//ETC

//_header
$primary-color: #743a11;
$background-color: #f7f6f2;
$background-image: url('../assets/portada-galeria.jpg');

//principal
$primary-color: #38c4b2;
$background-color: #f7f6f2;


//footer
// Colores
$primary-color: #743a11;
$background-color: #f7f6f2;

// Tamaños
$logo-width: 100px;

